
# ──────────────────────────────
# 🌐 Node / npm / pnpm / yarn
# ──────────────────────────────
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ──────────────────────────────
# 🔐 Entorno y configuración
# ──────────────────────────────
.env
.env.*
*.env.local

# ──────────────────────────────
# 🧱 Prisma
# ──────────────────────────────
**/.prisma/
**/prisma/dev.db
**/prisma/dev.db-journal

# ──────────────────────────────
# 🔧 Remix / Vite / Next / Build
# ──────────────────────────────
**/build/
**/.cache/
.next/
out/
dist/

# ──────────────────────────────
# 🖥️ Sistemas operativos
# ──────────────────────────────
.DS_Store
Thumbs.db
